<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">-->
<!--  <p style="color: white">Loading...</p>-->
<!--</ngx-spinner>-->
<div id="content">
<!--  <app-topbar></app-topbar>-->
<!--  <app-sidebar></app-sidebar>-->
  <div class="row mb-3 mt-3">
    <div class="col-lg-9">
      <!-- left section -->
      <div class="row mb-3 mt-3">
        <div class="col-lg offset-3">
          <span id="column-title"
            >Referrals (134,567) <span id="total">-3400 </span
            ><span id="time-range">in past 24 hours</span></span
          >
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6 offset-3">
          <img src="../../../assets/icons/userv/filter.svg" alt="" />
        </div>
        <div class="col-lg">
          <span id="pagination-title" style="width: 100%; white-space: nowrap"
            >Show on page <b>1-20</b> out of 57 <>
          </span>
        </div>
      </div>
      <div class="row mb-3 offset-3">
        <div class="col-lg-1">
          <!-- empty -->
        </div>
        <div class="col-lg-2 table-title">Patient Refererd</div>
        <div class="col-lg-2 table-title">Speciality</div>
        <div class="col-lg-3 table-title">Referred from</div>
        <div class="col-lg-2 table-title">Referred to</div>
        <div class="col-lg-1 table-title">Status</div>
      </div>
      <!-- Verified -->
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/heart.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Michael Jackson</div>
        <div class="col-lg-2 table-field">Cardiology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <!-- Verified -->
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/nose.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Omri Marebera</div>
        <div class="col-lg-2 table-field">Allergology</div>
        <div class="col-lg-3 table-field">Nelson Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Unresolved</div>
      </div>
      <!-- Not Verified -->
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/speciality.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Michael Scott</div>
        <div class="col-lg-2 table-field">Nephrology</div>
        <div class="col-lg-3 table-field">Variant Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Resolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/speciality.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Michael Scott</div>
        <div class="col-lg-2 table-field">Nephrology</div>
        <div class="col-lg-3 table-field">Variant Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Resolved</div>
      </div>
      <div class="row mb-3 user-detail mt-2 offset-3">
        <div class="col-lg-1 table-field">
          <img
            src="../../../assets/icons/dash/speciality.svg"
            alt=""
            style="width: 17px; margin-top: -5px"
          />
        </div>
        <div class="col-lg-2 table-field">Michael Scott</div>
        <div class="col-lg-2 table-field">Nephrology</div>
        <div class="col-lg-3 table-field">Variant Mandela Hospital</div>
        <div class="col-lg-2 table-field">Physician - Cardiologist</div>
        <div class="col-lg-1 table-field">Resolved</div>

        <div class="row create-team">
          <div class="col col-12" style="text-align: center">
            <button
              type="button"
              id="approve-btn"
              class="btn btn-primary btn-block"
              routerLink="/ref/home"
            >
              CREATE NEW FORM
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3" id="right-section">
      <!-- right section -->
      <h4 class="mt-5" id="section-title">General Practice Referral</h4>
      <div class="row mb-4 mt-5">
        <div class="col" id="refferal-summary">Referral Summary</div>
        <div class="col" id="view-less">View Less</div>
      </div>

      <h6 class="refferal-summary-titles">Patient Referred</h6>
      <div class="row mb-3 mt-3">
        <div class="col">
          <p class="refferal-summary-names">Amos Joseph</p>
        </div>
        <div class="col view-profile">View Profile</div>
      </div>

      <h6 class="refferal-summary-titles">Referred From</h6>
      <div class="row mb-3 mt-3">
        <div class="col">
          <p class="refferal-summary-names">Dr Joe Rogan</p>
          <p class="refferal-summary-dates">Sent: 4-3-2 at 10:23pm</p>
        </div>
        <div class="col view-profile">View Profile</div>
      </div>

      <h6 class="refferal-summary-titles">Referred To</h6>

      <div class="row mb-3 mt-3">
        <div class="col">
          <p class="refferal-summary-names">Dr Strange</p>
          <p class="refferal-summary-dates">Received: 4-3-21 at 10:23pm</p>
          <p class="refferal-summary-dates">Responded: 4-3-21 at 10:23pm</p>
        </div>
        <div class="col view-profile">View Profile</div>
      </div>

      <h6 class="refferal-summary-titles">Handed over To</h6>

      <div class="row mb-3 mt-3">
        <div class="col">
          <p class="refferal-summary-names">Dr Mutasa</p>
          <p class="refferal-summary-dates">Received: 4-3-21 at 10:23pm</p>
          <p class="refferal-summary-dates">Responded: 4-3-21 at 10:23pm</p>
        </div>
        <div class="col view-profile">View Profile</div>
      </div>
      <div class="row mb-4 mt-1">
        <div class="col referal-status-title">Referral Status</div>
        <div class="col referal-status">Resolved</div>
      </div>
      <hr style="width: 100%" />
      <h4 class="section-title-2 mt-4 mb-4">Patient Details</h4>
      <div class="row mb-3 mt-3">
        <div class="col-6 patient-details-title mb-3">Patient Name:</div>
        <div class="col-6 patient-details mb-3">Amos</div>
        <div class="col-6 patient-details-title mb-3">Patient Surname:</div>
        <div class="col-6 patient-details mb-3">Joseph</div>
        <div class="col-6 patient-details-title mb-3">Folder Number:</div>
        <div class="col-6 patient-details mb-3">122334</div>
        <div class="col-6 patient-details-title mb-3">DOB:</div>
        <div class="col-6 patient-details mb-3">11-03-1995</div>
        <div class="col-6 patient-details-title mb-3">Age:</div>
        <div class="col-6 patient-details mb-3">26 yrs</div>
        <div class="col-6 patient-details-title mb-3">Sex</div>
        <div class="col-6 patient-details mb-3">Male</div>
        <div class="col-6 patient-details-title mb-3">Address:</div>
        <div class="col-6 patient-details mb-3">2014 Forest Hill Drive</div>
        <div class="col-6 patient-details-title mb-3">Ward:</div>
        <div class="col-6 patient-details mb-3">79</div>
        <div class="col-6 patient-details-title mb-3">Bed Number:</div>
        <div class="col-6 patient-details mb-3">7</div>
        <div class="col-6 patient-details-title mb-3">Reason for Referal:</div>
        <div class="col-6 patient-details mb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos,
          sit fugiat exercitationem soluta laborum deleniti vel aut illo dolorem
          ut voluptas, deserunt, impedit rerum dolore iure quisquam perferendis
          saepe?
        </div>
      </div>
      <h4 class="section-title-2 mt-4 mb-4">Problems</h4>
      <h4 class="section-title-22 mt-4 mb-4">Fracture</h4>
      <div class="row mb-3 mt-3">
        <div class="col-6 patient-details-title mb-3">Type of Fracture</div>
        <div class="col-6 patient-details mb-3">Simple</div>
        <div class="col-6 patient-details-title mb-3">Location</div>
        <div class="col-6 patient-details mb-3">Femur</div>
      </div>
      <h4 class="section-title-2 mt-4 mb-4">Vital Signs</h4>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">Blood Pressure:</div>
        <div class="col patient-details">100/60</div>
        <div class="col siunits">mmHg</div>
      </div>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">Pulse:</div>
        <div class="col patient-details">120</div>
        <div class="col siunits">bpm</div>
      </div>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">Temperature:</div>
        <div class="col patient-details">39</div>
        <div class="col siunits">C</div>
      </div>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">Respiratory Rate:</div>
        <div class="col patient-details">28</div>
        <div class="col siunits">/min</div>
      </div>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">HGT/Dextrose:</div>
        <div class="col patient-details">100/60</div>
        <div class="col siunits">mmHg</div>
      </div>
      <div class="row mb-3 mt-1">
        <div class="col patient-details-title mb-3">Oxygen Saturation:</div>
        <div class="col patient-details">94</div>
        <div class="col siunits">%</div>
      </div>
      <div class="row mb-5 mt-1">
        <div class="col patient-details-title mb-3">Blood Pressure</div>
        <div class="col patient-details">100/60</div>
        <div class="col siunits">mmHg</div>
      </div>

      <h4 class="section-title-2 mt-3 mb-4">GCS:</h4>

      <div class="row mb-4 mt-2">
        <div class="col-6 patient-details-title mb-3">Eyes:</div>
        <div class="col-6 patient-details mb-3">3 - Open to voice</div>
        <div class="col-6 patient-details-title mb-3">Verbal:</div>
        <div class="col-6 patient-details mb-3">4 - Confused conversation</div>
        <div class="col-6 patient-details-title mb-3">Motor:</div>
        <div class="col-6 patient-details mb-3">4 - Localizes to pain</div>
        <div class="col-6 patient-details-title mb-3">Total GCS Score:</div>
        <div class="col-6 patient-details mb-3">11/15</div>
      </div>

      <h4 class="section-title-2 mt-2 mb-4">Medical History:</h4>
      <div class="row mb-3 mt-5">
        <div class="col-6 mb-3" style="font-size: 14px">
          <img src="../../../assets/icons/dash/check.svg" />
        </div>
        <div class="col-6 patient-details">Diabetes</div>
        <div class="col-6 mb-3" style="font-size: 14px">
          <img src="../../../assets/icons/dash/check.svg" />
        </div>
        <div class="col-6 patient-details">Hypertension</div>
        <div class="col-6 mb-3" style="font-size: 14px">
          <img src="../../../assets/icons/dash/check.svg" />
        </div>
        <div class="col-6 patient-details">Obesity</div>
        <div class="col-6 mb-3" style="font-size: 14px">
          <img src="../../../assets/icons/dash/check.svg" />
        </div>
        <div class="col-6 patient-details">Smoking</div>
        <div class="col-6 mb-3" style="font-size: 14px">
          <img src="../../../assets/icons/dash/check.svg" />
        </div>
        <div class="col-6 patient-details">Alcohol</div>
      </div>
      <div class="row mb-5 mt-3">
        <div class="col-12 patient-details-title" style="font-size: 10px">
          Chat created: 12-03-2021 11:07am (GMT+2):
        </div>
        <div class="col-12 patient-details-title mb-3" style="font-size: 10px">
          Refferal resolved: 12-03-2021 11:07am (GMT+2):
        </div>
      </div>
      <div class="row mt-3 approve-buttons">
        <!-- primary button -->
        <div class="col-sm">
          <button
            type="button"
            id="approve-btn"
            class="btn btn-primary btn-block"
          >
            SAVE CHANGES
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            id="decline-btn"
            class="btn btn-primary btn-block"
          >
            DELETE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
