<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">-->
<!--  <p style="color: white">Loading...</p>-->
<!--</ngx-spinner>-->
<div id="content">
<!--  <app-topbar></app-topbar>-->
<!--  <app-sidebar></app-sidebar>-->
  <div class="row mb-3 mt-3">
    <div class="col-lg-2 offset-2">
      <h4 class="mt-2 mb-3">Edit : {{ formName }} Referral Form</h4>
<!--      <formio [form]="{-->
<!--          title: '{{formName}}',-->
<!--          components: generatedJSON-->
<!--        }"></formio>-->
    </div>
  </div>
</div>
