<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">-->
<!--  <p style="color: white">Loading...</p>-->
<!--</ngx-spinner>-->
<div id="content">
<!--  <app-topbar></app-topbar>-->
<!--<app-sidebar></app-sidebar>-->
  <div class="row mb-3 mt-2 offset-2">
    <div class="col-lg-9">
      <div class="row mb-3 mt-2">
        <div class="col-lg ">
          <span id="column-title">CREATE A SPECIALITY</span>
        </div>
      </div>
      <div class="row mb-3">
        <!-- 2 colums -->
        <div class="col-sm-3" id="left-side">
          <select name="cars" id="date-chooser" (change)="changeView($event)">
            <option value="spec">Speciality</option>
            <option value="sub">Sub-speciality</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 mt-2 " *ngIf="!showSub">
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Proffession</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name" />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Speciality Name</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name" />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Name of Practitioner</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name" />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <input type="checkbox" class="" id="" /> Make speciality publicly visible
          </div>
        </div>
        <div class="row create-team">
          <div class="col col-12" style="text-align: center">
            <button type="button" id="new-team-btn" class="btn btn-primary btn-block" (click)="createSpeciality()">
              SAVE
            </button>
          </div>
        </div>

      </div>
      <div class="row mb-3 mt-2 "  *ngIf="showSub">
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Proffession</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name" />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
            <div class="form-group">
              <label for="user-name" class="col-lg-12 control-label">Select parent speciality</label>
              <div class="col-lg-12">
                <input type="text" class="form-control text-input" id="user-name" />
              </div>
            </div>
          </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Sub-speciality Name</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name" />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <label for="user-name" class="col-lg-12 control-label">Name of Practitioner</label>
            <div class="col-lg-12">
              <input type="text" class="form-control text-input" id="user-name"  />
            </div>
          </div>
        </div>
        <div class="col col-lg-12 mb-3 mt-2">
          <div class="form-group">
            <input type="checkbox" class="" id="" /> Make sub-speciality publicly visible
          </div>
        </div>
        <div class="row create-team">
          <div class="col col-12" style="text-align: center">
            <button type="button" id="new-team-btn" class="btn btn-primary btn-block" (click)="createSpeciality()">
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
