<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">-->
<!--  <p style="color: white">Loading...</p>-->
<!--</ngx-spinner>-->
<div id="content">
<!--  <app-topbar></app-topbar>-->
<!--  <app-sidebar></app-sidebar>-->

  <div class="row mb-3 mt-3">
    <h1 class="offset-2">My Work Space</h1>
    <div class="col-lg offset-2">
      <div class="row mb-3 mt-3">
        <div class="col-lg-12">
          <button class="btn btn-success" id="create-form-btn" routerLink="/ref/new">
            Create New Form
          </button>
          <button class="btn btn-outline-success" id="import-form-btn">
            Import Form
          </button>
        </div>
        <div class="col-lg-12 mt-3">
        <h1 class="mt-4 mb-4">Physician Speciality Form Templates</h1>
<!--          <alphabet-filter propAlphaOrder="name" propsSearch="name" placeholder="start typing to search" height="calc(100vh - 430px)" *ngIf="showSearch" (onClick)="selected($event)">-->
<!--          </alphabet-filter>-->
        </div>
      </div>
    </div>
  </div>
</div>
