.control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #A8B6C8;
}

#column-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #333333
}

#new-team-btn {
  background: #40c9bb;
  font-weight: 100;
  border-radius: 17.0943px;
  border: none;
  width: 150px;
  font-size: 16px;
  line-height: 16px;
  height: 34px;
  text-align: center;
  font-weight: 100;
  margin-top: 15px
}
