.teams-bg {
  /* Rectangle 14 */
  position: relative;
  height: 84px;
  margin-left: 25px;
  background: linear-gradient(169.75deg, #AC2682 -5.02%, #673D86 107.82%);
  box-shadow: 3px 6px 6px 1px rgba(143, 43, 120, 0.21);
  border-radius: 25px;
}


.box-template {
  position: relative;
  // width: 19.42px !important;
  height: 220.08px;
  margin-left: 10px;
  background: #FFFFFF;
  border: 0.614585px solid rgba(218, 218, 218, 0.37);
  box-shadow: 3.68751px 7.37502px 7.37502px 1.22917px rgba(218, 218, 218, 0.61);
  border-radius: 30.7292px;

}


#stats-title {
  font-family: BentonSansBold;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.138889px;
  color: #4D979E;
}

#stats-description {
  color: #979797;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.138889px;
}

.stats-box-bg {
  position: relative;
  height: 140px;
  width: 40%;
  margin-left: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin-bottom: 110px;

}

#date-chooser {
  box-shadow: 0px 2px 4px #DADADA;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 165px;
  color: #333333;
  padding: 10px;
  border: none;
  margin-left: 30px;
  // add gap between div

}

#left-side {

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;

  color: #79828B;
}


#teams-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.0233333px;
  color: #FFFFFF;
}

#teams-title-2 {
  font-family: BentonSansExtraLight;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.0233333px;
  color: #FFFFFF;
}

#pill-title {
  font-family: BentonSans;
  font-style: normal;
  font-weight: normal;
  font-size: 19.6667px;
  line-height: 18px;
  letter-spacing: 0.0286806px;
  color: #333333;
}

#pill-body {
  font-family: BentonSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12.2917px;
  line-height: 18px;
  letter-spacing: 0.0286806px;
  color: #333333;
}

#pill-footer {
  font-family: BentonSans;
  font-style: normal;
  font-weight: bold;
  font-size: 19.6667px;
  line-height: 18px;
  letter-spacing: 0.0286806px;
  color: #333333;
}

hr {
  border: 1.22917px solid #ECF1F8;
}
